# Jekyll
_site/
docs/_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
docs/.bundle/

# TypeDoc
docs/references/

# OS
.DS_Store

# Dependencies
node_modules/

# TypeScript
*.tsbuildinfo

# Next.js
.next/
next-env.d.ts
out/
build/
dist/
*.log
.env*.local
.vercel

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform.lock.hcl
.env

# Sentry Config File
.env.sentry-build-plugin
