_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# TypeDoc
docs/references/

# OS
.DS_Store
node_modules/

# TypeScript
*.tsbuildinfo

# Next.js
.next/
next-env.d.ts
out/
build/
dist/
*.log
.env*.local
.vercel
