# OpenTelemetry Collector configuration
# See ADR 0028 for details

receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

exporters:
  otlphttp/mimir:
    endpoint: http://mimir:9009/otlp
  debug:
    verbosity: detailed

service:
  pipelines:
    metrics:
      receivers: [otlp]
      exporters: [otlphttp/mimir, debug]
