name: Deploy GitHub Pages

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write
  pull-requests: write

concurrency:
  group: preview-pages-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    env:
      WORKDIR: docs/
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10
          run_install: false

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: ${{ env.WORKDIR }}package-lock.json

      - name: Install dependencies
        working-directory: ${{ env.WORKDIR }}
        run: pnpm install

      - name: Lint files
        working-directory: ${{ env.WORKDIR }}
        run: make lint

  build:
    runs-on: ubuntu-latest
    env:
      WORKDIR: docs/
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.4"
          bundler-cache: true

      - name: Install dependencies
        working-directory: ${{ env.WORKDIR }}
        run: make install-pages-ruby

      - name: Build Jekyll site
        working-directory: ${{ env.WORKDIR }}
        run: |
          if [ "${{ github.event_name }}" == "pull_request" ]; then
            make build-pages BASEURL="/pr-${{ github.event.number }}/${{ github.sha }}"
          elif [ "${{ github.ref }}" == "refs/heads/main" ] && [ "${{ github.event_name }}" == "push" ]; then
            make build-pages BASEURL=""
          else
            make build-pages BASEURL=""
          fi

      - name: Preview Pages
        if: github.event_name == 'pull_request'
        uses: rajyan/preview-pages@v1
        with:
          source-dir: ${{ env.WORKDIR }}_site
          pr-comment: sticky

  deploy:
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    runs-on: ubuntu-latest
    needs: build
    env:
      WORKDIR: docs/
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.4"
          bundler-cache: true

      - name: Install dependencies
        working-directory: ${{ env.WORKDIR }}
        run: make install-pages-ruby

      - name: Build Jekyll site
        working-directory: ${{ env.WORKDIR }}
        run: make build-pages BASEURL=""

      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./${{ env.WORKDIR }}_site
          destination_dir: .
          keep_files: true
          force_orphan: false
