name: Deploy GitHub Pages

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write
  pull-requests: write

concurrency:
  group: preview-pages-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10
          run_install: false

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install dependencies
        run: pnpm install

      - name: Lint files
        run: make lint

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.4"
          bundler-cache: true

      - name: Install dependencies
        run: make install-pages-ruby

      - name: Build Jekyll site
        run: |
          REPO_NAME=$(echo "${{ github.repository }}" | cut -d'/' -f2)
          if [ "${{ github.event_name }}" == "pull_request" ]; then
            make build-pages BASEURL="/$REPO_NAME/pr-${{ github.event.number }}/${{ github.sha }}"
          else
            make build-pages BASEURL="/$REPO_NAME"
          fi

      - name: Upload artifact
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./_site

      - name: Preview Pages
        if: github.event_name == 'pull_request'
        uses: rajyan/preview-pages@v1
        with:
          source-dir: _site
          pr-comment: sticky

  deploy:
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: gh-pages

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.4"
          bundler-cache: true

      - name: Install dependencies
        run: make install-pages-ruby

      - name: Build Jekyll site
        run: |
          REPO_NAME=$(echo "${{ github.repository }}" | cut -d'/' -f2)
          make build-pages BASEURL="/$REPO_NAME"

      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_site
          destination_dir: mikazuki-munechika
          force_orphan: false
