name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  ci:
    uses: ./.github/workflows/ci.yml

  tagpr:
    needs: ci
    uses: ./.github/workflows/tagpr.yml
