name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  issues: read

jobs:
  ci:
    uses: ./.github/workflows/_ci.yml

  tagpr:
    needs: ci
    uses: ./.github/workflows/tagpr.yml

  deploy-pages:
    needs: tagpr
    if: needs.tagpr.outputs.tag != ''
    uses: ./.github/workflows/pages.yml
