name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  issues: read
  id-token: write
  pages: write

jobs:
  ci:
    uses: ./.github/workflows/_ci.yml

  tagpr:
    needs: ci
    uses: ./.github/workflows/tagpr.yml
