# release.yml
jobs:
  ci:
    uses: ./.github/workflows/_ci.yml

  tagpr:
    needs: ci
    uses: ./.github/workflows/tagpr.yml

  deploy-pages:
    needs: tagpr
    if: needs.tagpr.outputs.tag != ''
    uses: ./.github/workflows/pages.yml