name: TagPR

on:
  workflow_call:

permissions:
  contents: write
  pull-requests: write
  id-token: write
  pages: write

jobs:
  tagpr:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      issues: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Run tagpr
        id: tagpr
        uses: Songmu/tagpr@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          config: .tagpr.yml

      - name: Run latest-tag
        uses: EndBug/latest-tag@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Deploy GitHub pages
        needs: tagpr
        if: needs.tagpr.outputs.tag != ''
        uses: ./.github/workflows/pages.yml
