name: Run Terraform CI

on:
  pull_request:
    paths:
      - "terraform/**"
  workflow_dispatch:

defaults:
  run:
    working-directory: terraform

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Get Terraform version from .tool-versions
        id: terraform-version
        run: echo "version=$(grep '^terraform ' ../.tool-versions | cut -d ' ' -f 2)" >> $GITHUB_OUTPUT

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ steps.terraform-version.outputs.version }}

      - name: Format Check
        run: terraform fmt -check

      - name: Validate
        run: |
          terraform init -backend=false
          terraform validate
